<nav class="navbar navbar-default">
  <a class="navbar-brand" routerLink="/">AngularSpringGame</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav">
      <li routerLinkActive="active" class="nav">
        <a class="nav-link" routerLink="/home">Strona główna</a>
      </li>
      <li routerLinkActive="active" class="nav">
        <a class="nav-link" href="#">Lista postaci</a>
      </li>
    </ul>
    <ul class="navbar-right nav navbar-nav">
      <li class="dropdown" appDropdown>
        <a class="dropdown-toggle" id="navbarDropdown" role="button" style="cursor: pointer">
          Opcje
        </a>
        <div class="dropdown-menu">
          <ul>

            <li>
              <a class="dropdown-item" style="cursor: pointer" href="#">Zarządzaj</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer" href="#">Wyloguj</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>

